@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 138 100% 69%;
    --secondary: 138 100% 69%;
    --secondary-foreground: 0 0% 0%;
    --muted: 138 100% 69%;
    --muted-foreground: 0 0% 0%;
    --accent: 138 100% 69%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 138 100% 69%;
    --input: 138 100% 69%;
    --ring: 0 0% 0%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 138 100% 69%;
    --card: 0 0% 0%;
    --card-foreground: 138 100% 69%;
    --popover: 0 0% 0%;
    --popover-foreground: 138 100% 69%;
    --primary: 138 100% 69%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 138 100% 69%;
    --muted: 0 0% 20%;
    --muted-foreground: 138 100% 69%;
    --accent: 0 0% 20%;
    --accent-foreground: 138 100% 69%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 138 100% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
